<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<select>
    <option value="maid">Maid</option>
    <option value="ACrepair">ACrepair</option>
    <option value="CoolerRepair">CoolerRepair</option>
    <option value="AppleProductRepair">AppleProductRepair</option>
    <option value="Architect">Architect</option>
    <option value="Photographer">Photographer</option>
    <option value="Insurance">Insurance</option>
    <option value="HomeRenovation">HomeRenovation</option>
    <option value="UnisexSalon">UnisexSalon</option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>



</select>
</body>
</html>